version: "3.8"

services:
  mysql:
    image: mysql:8.0 # mysql:5.7
    platform: linux/amd64
    container_name: mysql-container
    hostname: mysql
    environment:
      MYSQL_ROOT_PASSWORD: your_password
      MYSQL_DATABASE: todo_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql # Persist MySQL data

  fastapi:
    build:
      context: .
      dockerfile: Dockerfile # Ensure you have a Dockerfile for the FastAPI app
    container_name: fastapi-app
    env_file: .env
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - mysql

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  mysql_data:
  prometheus_data:
  grafana_data:

